.parameters-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.parameters-form-item{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}